
.nav {
  background: #0b132b;
  color: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #a78bfa;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}
