
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin: 20px;
}

.card h3 {
  color: #6366f1;
}

.card button {
  margin-top: 10px;
  background: #22c55e;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 8px;
}
