.dashboard {
  padding: 40px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box {
  margin: 20px;
}

.search-box input {
  padding: 12px;
  width: 250px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 12px 18px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
